.sd-bubble::before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    background-repeat: no-repeat;
}

.sd-bubble {
    --_point-size: 70%;
    --point: radial-gradient(
        circle,
        var(--bubble-color) calc(var(--_point-size) - var(--bubble-border-width)),
        var(--bubble-border-color) calc(var(--_point-size) - var(--bubble-border-width)),
        var(--bubble-border-color) var(--_point-size),
        transparent calc(var(--_point-size))
    );
}
