.sd-chart {
    /* Graph related styles */
    --axis-line-color: #5c5c5c;
    --grid-line-color: #ddd;
    --label-color: #4e4e4e;
    --grid-line-size: 1px;
    --axis-line-size: 1px;
    --label-distance: 10px;

    /* Line chart related styles */
    --line-size: 2px;
    --line-color: #6d81f0;
    --point-radius: 6px;
    --point-color: inherit;
    --point-border-color: inherit;
    --point-border-width: inherit;
    /* pointStyle -> "circle-dot" related */
    --dot-radius: calc(var(--point-radius) / var(--dot-ratio, 1));
    --point-inner-color: transparent;

    /* Area chart related styles */
    --area-color: #6d81f04d;
    --area-top-color: transparent;

    /* Bar chart related styles */
    --bar-color: #6d81f0;
}
